body {  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 50px 1.5fr 1fr 1fr 1.5fr 50px; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."; 
}

#dealerArea{
  grid-area:2/4/3/6;
  border-style:dotted;
}
#discardArea{
  grid-area:2/8/3/9;
  border-style:dotted;
}
#messageArea{
  grid-area:3/3/5/7;
  border-style:dotted;
}
#playerArea{
  grid-area:5/4/6/6;
  border-style:dotted;
  
}
#scoreboard{
  grid-area:6/1/7/9;
  border-style:solid;
}
#playerHand{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}
#dealerHand{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}



.playerMove{
  visibility: visible;
}

.btn-group button {
  background-color: #41aa04; /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: white; /* White text */
  padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width:6em;
  display: block; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.btn-group button:hover {
  background-color: #3e8e41;
}