body {  
  display: grid; 
  /* background: rgb(39,68,68);
background: linear-gradient(180deg, rgba(39,68,68,1) 0%, rgba(50,86,86,1) 80%, rgba(75,119,119,1) 100%);  */
/* background: #274444;
background: linear-gradient(180deg, rgba(39,68,68,1) 30%, rgba(50,86,86,1) 70%, #4b7777 100%); */
background-image: url(../images/table2.png);
/* background-size:auto; */
  display: grid; 
  grid-template-columns: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66%; 
  grid-template-rows: 20% 5% 30% 5% 20% 10% 10%; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . . . Dealer Dealer Dealer . . . . . ."
    ". . . . . . DealerTotal DealerTotal DealerTotal . . . . . ."
    ". . . . . Message Message Message Message Message . . . . ."
    ". Player2 Player2 . . . PlayerTotal PlayerTotal PlayerTotal PlayerMenu PlayerMenu . Player3 Player3 ."
    ". Player2 Player2 . . . Player Player Player PlayerMenu PlayerMenu . Player3 Player3 ."
    ". . . . . . Betting Betting Betting PlayerMenu PlayerMenu . . . ."
    ". . . . . . Score Score Score PlayerMenu PlayerMenu . . . ."; 
  width:98vw;
  height:98vh;
  color:white;
}

#dealerArea{
  grid-area:Dealer;
  grid-area:1/7/2/10;
  /* border-style:dotted;
  border-radius: 10%; */
}
#dealerTotal{
  grid-area:DealerTotal;
  grid-area:2/7/3/10;
  place-self: center;
  margin: 0 0;
  }
/* #discardArea{
  grid-area:2/8/3/9;
  border-style:dotted;
} */
#messageArea{
  grid-area:Message;
  grid-area:3/6/4/11;
  /* border-style:dotted; */
  place-self: center;
  
}
#playerTotal{
  grid-area:PlayerTotal;
  grid-area:4/7/5/10;
  place-self: center;
  margin: 0 0;
  
}

#playerArea{
  grid-area:Player;
  grid-area:5/7/6/10;
  /* border-style:dotted;
  border-radius: 10%; */
}
#scoreboard{
  grid-area:Score;
  grid-area:7/7/8/10;
  place-self:center;
  border-style: solid none none none;
  border-radius: 70%;
  padding:10px 20px;
  background-color:black;

}

#playerHand{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}
#dealerHand{
  width:50%;
  
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

.playerMove{
  grid-area:PlayerMenu;
  grid-area:4/10/8/12;
  
}

.moves{
  visibility: visible;
}

.moveList{
  visibility:hidden;
  
}

.movesBet{
  visibility:hidden;
}
.betList{
  visibility: hidden;
}




.btn-group button {
  background-color: black; 
  border: 2px solid #D5AF37;
  border-radius:5%;
  color: white; 
  margin: 10px 0 0 10px;
  padding: 10px 10px; 
  
  width:50%;
  display:block;
  
}
/*prevents double borders*/
/* .btn-group button:not(:last-child) {
  border-bottom: none;
} */
.moveList button:hover {
  background: rgb(162,134,44);
background: linear-gradient(350deg, rgba(162,134,44,1) 30%, rgba(212,175,55,1) 60%, rgba(255,255,255,1) 100%);
  font-weight:bolder;
  color:black;

}